<h3>@Title</h3>
<div class="alert alert-success">
    @if(childContent!= null)
    {
        <div class="alert alert-info">@childContent</div>
    }
    else
    {
        @if (dangerChild != null)
        {
                <div class= "alert alert-danger"> @dangerChild </div>
        }
        
    }
 <button class="btn btn-danger" @onclick="onButtonClick"> @dangerChild</button>
</div>


@code {
    [Parameter]

    public string Title { get; set; }


    [Parameter]
    public RenderFragment childContent { get; set; }

    [Parameter]
    public RenderFragment dangerChild { get; set; }

    [Parameter]

    public EventCallback onButtonClick { get; set; }
}
